# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/
ENV/
# Distribution / packaging
.eggs/
*.egg-info/
dist/
build/
wheels/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.log
*.rpt

# mypy
.mypy_cache/

# IDE-specific files
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace
.vscode/

# OS or System files
.DS_Store